.link {
    text-decoration: none;
    color: #1a202c;
    font-weight: 600;
    padding: .5rem;
    cursor: pointer;

    &__url {
        text-decoration: none;
        color: #1a202c;

        @media (max-width: 600px) {
            width: 100%;
            margin: .3rem auto;
            padding: .3rem;
        }
    }

    &:hover {
        background-color: #edf2f7;
        border-radius: .25rem;
    }

    &--light {
        color: #edf2f7;

        &:hover {
            background-color: #1a202c;
        }
    }

    @media (max-width: 600px) {
        width: 100%;
        margin: .3rem auto;
        padding: .3rem;
    }
}