.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row-reverse wrap;
    padding: .8rem;

    &__option {
        display: flex;
        color: #1a202c;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0 .3rem;
        text-decoration: none;
        
        &--center {
            margin: auto;
        }
        
        &--flex{
            display: flex;
            &:hover {
                cursor: pointer;
            }
        }

        .cart {
            border: none;
            border-radius: 0;
            width: 1.5rem;
        }

        .avatar{
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            border: 1px solid #333;
            border-radius: 50%;
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        display: none;
        flex-flow: column;
    }
}