.quantity {
    position: relative;

    &__input {
        width: 3rem;
        height: 100%;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0 1rem;
        padding-left: 1rem;
        border: 1px solid #eee;
        -moz-appearance: textfield;

        &:focus {
            outline: none;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__button {
        position: relative;
        cursor: pointer;
        border: 1px solid #eee;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        line-height: 1.7;
        transform: translateX(-100%);
        user-select: none;

        &--up, &--down {
            position: absolute;
            height: 50%;
            right: -1.45rem;
            
            &:hover {
                background: #ddd;
            }
        }

        &--up {
            top: 0;
            border-bottom: .5px solid #eee;
        }

        &--down {
            bottom: 0;
            border-top: .5px solid #eee;
        }
    }
}

/*
<div class="quantity">
    <input class="quantity__input" type="number" value="1">
    <div class="quantity__button quantity__button--up">+</div>
    <div class="quantity__button quantity__button--down">-</div>
</div>
*/