.search {
    background-color: #edf2f7;
    border: .15rem solid #edf2f7;
    padding: .6rem;
    border-radius: .3rem;
    width: 30rem;

    &__text-box {
        width: 90%;
        background-color: transparent;
        border: none;
    }

    &__text-box:focus {
        outline: transparent;
    }

    &:focus-within {
        background-color: #ffffff;
        border: .15rem solid #edf2f7;
    }

    @media (min-width: 600px) and (max-width: 1200px) {
        width: 20rem;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}