.toast {
    border-radius: .2rem;
    min-width: 24rem;
    box-sizing: border-box;
    border: solid 1px #ebeef5;
    background-color: #edf2fc;
    transition: opacity .3s, transform .4s, top .4s;
    padding: 1rem;
    display: flex;
    margin-bottom: .5rem;

    &__icon {
        margin-right: 10px;
        color: #909399;

        &--success {
            color: #67c23a;
        }

        &--error {
            color: #f56c6c;
        }
    }

    &__content {
        padding-right: 1rem;
        font-size: 1rem;
        color: #909399;

        &--success {
            color: #67c23a;
        }

        &--error {
            color: #f56c6c;
        }
    }

    &__close {
        transform: translateY(25%);
        font-size: .8rem;
        color: #C0C4CC;
        position: absolute;
        right: 1rem;
        cursor: pointer;

        &:hover {
            color: #909399;
        }
    }

    &--success {
        background-color: #f0f9eb;
        border-color: #e1f3d8;
    }

    &--error {
        background-color: #fef0f0;
        border-color: #fde2e2;
    }
}