.toast {
    border-radius: .2rem;
    min-width: 24rem;
    box-sizing: border-box;
    border: solid 1px #EBEEF5;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: #edf2fc;
    transition: opacity .3s, transform .4s, top .4s;
    padding: 1rem;
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 10px;
        color: #67C23A;
    }

    &__content {
        padding-right: 1rem;
        font-size: 1rem;
        color: #67c23a;;
    }

    &__close {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: .8rem;
        color: #C0C4CC;
        position: absolute;
        right: 15px;
        top: 50%;
        cursor: pointer;

        &:hover {
            color: #909399;
        }
    }

    &--success {
        background-color: #f0f9eb;
        border-color: #e1f3d8;
    }
}