.header {
    display: grid;
    grid-template-areas: "header__logo header__menu";
    grid-template-columns: 18rem;

    &__link {
        width: 100%;
    }

    &__logo {
        grid-area: header__logo;
        background: #1a202c;
        display: flex;
        justify-content: center;

        .logo-img {
            width: 9rem;
            display: block;
            margin: auto;
        }
    }

    &__menu {
        grid-area: header__menu;
        background: #ffffff;

        &-icon {
            color: #FFFFFF;
            font-size: 2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: none;
            cursor: pointer;

            @media (max-width: 600px) {
                display: block;
            }
        }
    }

    @media (max-width: 600px) {
        grid-template-areas: "header__logo"
                             "header__menu";
        grid-template-columns: 100%;
    }
}