.l-modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    

    @media (max-width: 600px) {
        overflow: auto;
    }
}